@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Raleway', sans-serif;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% / 4 * 3)); 
  }
}

.animate-scroll {
  display: flex;
  white-space: nowrap;
  animation: scroll 40s linear infinite;
}
